header .masthead {
    text-align: center;
    color: white;
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  
  header .masthead .intro-text {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  
  header .masthead .intro-text .intro-lead-in {
    font-size: 22px;
    font-style: bolder;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  header .masthead .intro-text .intro-heading {
    font-size: 30px;
    font-weight: 1000;
    line-height: 60px;
    margin-bottom: 60px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  footer{color: white; }


  
  @media (min-width: 768px) {
    header .masthead .intro-text {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    header .masthead .intro-text .intro-lead-in {
      font-size: 40px;
      font-style: bolder;
      line-height: 40px;
      margin-bottom: 25px;
      font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
    header .masthead .intro-text .intro-heading {
      font-size: 55px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }
  }